@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Attractions";
}


<article class="content menu-top dark dontHide">
    <div class="full">


        <section class="half car-show-1">
            <header class="title-one">Browse</header>
            <div class="title-two">TYPES OF ATTRACTIONS</div>
            <div class="show dontHide">
                <div class="caroussel">
                    <div class="caroussel-list">


                        @foreach (var item in ViewBag.AttractionTypes)
                        {
                            <a href="Attraction/ByAttractionType?attractionType=@item.AttractionType1">
                                <div class="car-img"><img src="~/Content/solido/img/attractiontypes/@item.Image"></div>
                            </a>
                        }

                    </div>
                </div>
                <div class="car-prev"></div>
                <div class="car-next"></div>
            </div>

            <div style="margin-top:30px; text-align: center;">
                <a href="~/AttractionTypes" style="text-decoration: underline; color: #4CDDF3;">View List<span class="glyphicon glyphicon-list" style="margin-left: 8px;"></span></a>
            </div>



        </section>



        <section class="half">
            <header class="title-one">Search</header>
            <div class="title-two">ATTRACTIONS</div>

            <div class="half-content dontHide">
                <div class="row">
                    <div class="col-lg-12 col-md-12" style="text-align: center;">

                        @using (Html.BeginForm("Index", "Attraction", FormMethod.Get, new { @class = "form-inline", role = "form" }))
                        {
                            <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                <label class="sr-only" for="SearchString">Attraction Name</label>
                                @Html.TextBox("SearchString", "", new { @class = "form-control searchbox", placeholder = "Attraction name", type = "text", style = "width: 300px;" })
                            </div>

                            <div class="form-group col-lg-1 col-md-1 col-sm-2">
                                <button type="submit" value="Search" id="attractionSearchButton" class="btn btn-default btn-sm btn-info">
                                    <span class="glyphicon glyphicon-search"></span> Search
                                </button>
                            </div>
                        }

                    </div>
                </div>

                @*<p style="margin-top:30px;">
                        Looking for a specific Wisconsin shipwreck?  We have over 700 shipwrecks in our database!  And, we are adding more all the time.  Enter the name of the vessel in the field above and we'll dig through the archives for you.
                    </p>*@


                <div style="margin-top: 80px;">
                    <header class="title-one">List</header>
                    <div class="title-two">BY REGION</div>

                    <div style="text-align: center; margin-top: -30px;">
                        <a href="attraction" style="font-size: 20px;">All Regions</a><br />
                        <a href="attraction/LowerLakeMichigan" style="font-size: 20px;">Lower Lake Michigan</a><br />
                        <a href="attraction/MidLakeMichigan" style="font-size: 20px;">Mid Lake Michigan</a><br />
                        <a href="attraction/UpprLakeMichigan" style="font-size: 20px;">Upper Lake Michigan</a><br />
                        <a href="attraction/LakeSuperior" style="font-size: 20px;">Lake Superior</a><br />
                        <a href="attraction/InlandWaterways" style="font-size: 20px;">Inland Waterways</a><br />
                    </div>


                </div>



            </div>

        </section>




    </div>
    <div class="clear"></div>
</article>






<a href="#" class="scrollup">^</a>