@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Death's Door";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">
        <p>
            The legends surrounding Death's Door portray grim scenes worthy of the passage's name. They tell of a huge Indian war party pummeled to death against its rocky shores. They recount the last voyages of innumerable wooden ships pulverized by swirling currents and howling winds. But like a fierce squall that blurs the line between sea and sky, the potent legacy of Death's Door obscures the line between fact and fancy.
        </p>
        <p>
            Death's Door is the chief navigational passage between the Bay of Green Bay and Lake Michigan. It lies between the northeast end of Wisconsin's Door Peninsula and the rocky shores of Pilot, Plum, Detroit, and Washington islands.
        </p>

        <div style="float: right;  width: 551px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/map_deathsdoor.gif" /><br />
        </div>

        <p>
            The precise origins of the passage's name remain shrouded in legend. One story recounts the destruction of a large Native American war party in a sudden storm. Early French and American travelers' accounts contain similar stories. However, these earliest written accounts mention nothing of a war party per se. They say only that "there were a hundred Indians dashed against these rocks and killed in a single storm" (an 1835 account), or that a band of Indians, travelling in canoes to a French trading post, were resting on a rock shelf in the Door when a sudden storm trapped and drowned them.
        </p>
        <p>
            A French document from 1728 refers to the passage as Cap a la Mort . Thus, any actual events that may have inspired the name must have occurred before 1728. One author contends that a frightful legend was concocted by the French to discourage English exploration. This French connection is reflected in modern charts that identify the passage as Porte des Morts.
        </p>

        <p>
            According to Conan Eaton's Death's Door: The Pursuit of a Legend (1974), the name "Death's Door" clearly follows the French "Porte des Morts," which was at­tached to the waterway possibly in the 1600s but more probably around 1700. While "Porte" may perhaps have followed a poetic Indian name, it as possibly was coined by the French on their canoe-borne travels. The legend as we know it today is a mixture of motifs-modern, frontier American, early French, and pro­bably even aboriginal.

        </p>
        <p>
            Three of Death's Door's victims, the J.E. Glimore (left), the A.P. Nichols (right), and the remains of the Forest (between dock in foreground and the Gilmore) ashore on Pilot Island, October 1892. Read more about them.

        </p>

        <p>
            Eaton notes that the legend has flourished over the years:
        </p>
        <p>
            Beyond question, the Death's Door legend refuses to die. Indeed, within recent times it has done better than stay alive; nurtured by modern minstrels who bathe it in vivid color...
        </p>
        <p>
            Whether or not the passage ever exacted high tolls in human life, it definitely excelled as a killer of ships. The official 1906 Sailing Directions for Lake Michigan, Green Bay and the Strait of Mackinac describes the passage this way:
        </p>
        <p>
            There is a strong current setting in and out according to the direction of the wind, and many vessels have been lost in con­sequence. It is frequently so strong that sailing vessels can not make headway against it. The coast is rock-bound and certain destruction awaits the craft going ashore. Sometimes the current is against the wind.
        </p>
        <p>
            These have been formidable hazards for all ships, but especially for sailing vessels, which were exceptionally susceptible to the hazards of the Door. The dangers of the passage were somewhat reduced with the construction of a light on Plum Island in 1848, a lighthouse on Pilot Island in 1850, and a new Plum Island lighthouse in 1896 . Despite these navigational aids, however, some 24 sailing vessels, including schooners, barks, and brigs, were lost in Death's Door from 1837 to 1914. Adjacent islands, shoals, and bays claimed 40 others between the 1830s and the 1940s. Hundreds of other vessels of all types stranded, foundered, or wrecked in Death's Door but were pulled off by salvage efforts and refloated.
        </p>
        <p>
            The passage's menace was great enough that a canal was cut through at Sturgeon Bay in 1881 to allow vessels to pass through to Green Bay without hazarding the Door. Nevertheless, many sailing vessels continued to use the Door rather than pay canal tolls and tug fees. The local maritime mishaps of the twentieth century have been mostly occasional strandings, with a few fires and collisions, most of which took place outside of Death's Door proper.
        </p>
        <p>
            Despite the great many ships destroyed by Death's Door, the hazardous passage fortunately failed to live up to its name during the nineteenth century. Some sailors had very close encounters with death during this period, but none actually lost their lives to the passage's swirling currents and rocky shores. In large part, this is due to the heroic life-saving efforts of local inhabitants, passing ships, and the U.S. Light House and Life Saving Services.
        </p>
    </div>

</article>

