@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Dive Guides";
}

<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="margin-bottom: 50px;">
            These waterproof dive guides feature site maps, schematics, diving information, ship data and histories for Wisconsin's Lake Michigan and Lake Superior shipwrecks.  The result of hundreds of hours of archaeological and historical research conducted by the Wisconsin Historical Society, these guides are designed to go with you on your dives or be read in the comfort of your home.
        </div>

        @*Door County*@
        <div style="clear: both; margin-bottom: 150px;">
            <div style="float: left; margin: 0 20px 10px 0;" class="caption">
                <img src="~/Images/Learn/diveguides_DoorCounty.gif" /> <br />
            </div>

            <div style="font-weight:bold; margin-bottom: 10px;">Door County Shipwrecks Guides</div>

            <p>
                Set of 4, 9.5" x 6.5" plastic slates
            </p>
            <p>
                This set of dive guides includes: Bullhead Point, Carrington, Christina Nilsson and the Meridian.
            </p>
            <p>
                <a href="http://aqua.wisc.edu/publications/ProductDetails.aspx?productID=432">Order Online</a>
            </p>
        </div>

        @*Lake Michigan 1*@
        <div style="clear: both; margin-bottom: 150px;">
            <div style="float: left; margin: 0 20px 10px 0;" class="caption">
                <img src="~/Images/Learn/diveguides_LakeMichigan1.gif" /> <br />
            </div>

            <div style="font-weight:bold; margin-bottom: 10px;">Lake Michigan Shipwrecks Guides, Set 1</div>

            <p>
                Set of 7, 9.5" x 6.5" plastic slates
            </p>
            <p>
                This set of dive guides includes: Fleetwing, Francis Hinton, Frank O'Connor, Hetty Taylor, Louisiana, Niagara and Pilot Island.
            </p>
            <p>
                <a href="http://aqua.wisc.edu/publications/ProductDetails.aspx?productID=419">Order Online</a>
            </p>
        </div>

        @*Lake Michigan 2*@
        <div style="clear: both; margin-bottom: 150px;">
            <div style="float: left; margin: 0 20px 10px 0;" class="caption">
                <img src="~/Images/Learn/diveguides_LakeMichigan2.gif" /> <br />
            </div>

            <div style="font-weight:bold; margin-bottom: 10px;">Lake Michigan Shipwrecks Guides, Set 2</div>

            <p>
                Set of 9, 9.5" x 6.5" plastic slates
            </p>
            <p>
                This set of dive guides includes: Appomattox, Boaz, Cherubusco, City of Glasgow, Dan Hayes, Kate Kelly, Lumberman, Reynolds' Pier, and Selah Chamberlain.
            </p>
            <p>
                <a href="http://aqua.wisc.edu/publications/ProductDetails.aspx?productID=491">Order Online</a>
            </p>
        </div>

        @*Lake Superior*@
        <div style="clear: both; margin-bottom: 150px;">
            <div style="float: left; margin: 0 20px 10px 0;" class="caption">
                <img src="~/Images/Learn/diveguides_LakeSuperior.gif" /> <br />
            </div>

            <div style="font-weight:bold; margin-bottom: 10px;">Lake Superior Shipwrecks Guides</div>

            <p>
                Set of 7, 9.5" x 6.5" plastic slates
            </p>
            <p>
                This set of dive guides includes: Coffinberry, Fedora, Lucerne, Noquebay, Ottawa, Pretoria and Sevona.
            </p>
            <p>
                <a href="http://aqua.wisc.edu/publications/ProductDetails.aspx?productID=355">Order Online</a>
            </p>
        </div>


    </div>

</article>