@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Documenting Shipwrecks";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">
        <div style="float: right; width: 234px; margin-left: 20px; margin-top: 7px; margin-right: 10px;" class="caption">
            <img src="~/Images/Learn/mylar.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                With Mylar attached to a hard "slate," this archaeologist makes notes using an ordinary pencil. 
            </div>
        </div>
        <p>
            Once archaeologists locate a shipwreck, they study it in great detail. You might think of a shipwreck as a history book. When a shipwreck is carefully studied and documented, it is like writing a book. If the shipwreck is not examined properly or artifacts are removed without recording them, it is like tearing pages from the book-pages that will be lost forever.
        </p>
        <p>
            Archaeologists go under water and map the entire shipwreck exactly as it appears. They take measurements and make detailed drawings on Mylar (waterproof paper) using an ordinary pencil. Underwater archaeologists often divide a shipwreck into small sections. Each archaeologist records the ship parts and artifacts within his or her area. These drawings, along with underwater video and photographs, are later pieced together to form a complete picture of the shipwreck, much like putting together a puzzle.
        </p>
        <p>
            Why do archaeologists draw such detailed maps of shipwrecks? Because of limited visibility, archaeologists cannot take a photograph of the entire shipwreck. So the only way they can view an entire wreck in great detail is to map it.
        </p>
        <p>
            During the dives to piece together the map of the shipwreck, archaeologists discovered several things about the Lucerne. First, they found evidence that it ran aground and then broke open. Clues in the shipwreck showed them that the schooner was being pushed backwards when it ran aground. As the storm raged, the schooner twisted and quickly broke apart. During this mapping archaeologists also learned about the iron bar wedged into the windlass.
        </p>
        <p>
            Because archaeologists were able to study the Lucerne's artifacts, the story of what happened so many years ago was preserved. If artifacts had been missing, the fate of the sailors would have remained a mystery. By combining history and archaeology, the team was able to tell a story that would have otherwise gone untold.
        </p>

        <div class="callout">
            <h2>Have a Listen</h2>
            <p>
                <a href="http://av.aqua.wisc.edu/seagrantandlakesuperior/audio/mp3/3ShipwrecksArcheologistsandUnholyApostles.mp3">Shipwrecks, Archeologists and Unholy Apostles</a>  (19 mins 48 sec)<br />
                The uniquely preserved shipwrecks of Lake Superior have become a historical resource for the state, as well as a recreational magnet for sport divers. Hear the chilling tale of the sinking of the Lucerne, and listen while underwater archeologists Tamara Thomsen and Keith Meverden share their passion for this fascinating field, explain its scientific and historical significance, and solve the mystery of the Lucerne's final hours.
            </p>
        </div>

    </div>

</article>
