@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Exploring Shipwrecks";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: left; width: 219px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/bluff_city.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                The Steamer Bluff City, which burned in 1897.<br />
                <span style="font-size: 12px;">
                    WHi(X3)27162, WHS Archives
                </span>
            </div>
        </div>

        <p>
            The Great Lakes can be very dangerous for the men and women that work upon these waters. Did you know there are over 10,000 shipwrecks on the bottom of the Great Lakes, and each one is a museum waiting to be explored?
        </p>
        <p>
            What do these shipwrecks tell us about the past? How do underwater archaeologists investigate these sites? To find the answers to these questions, put on your mask and snorkel, and let's dive into more of Wisconsin's maritime history.
        </p>

        <div style="float: right;  width: 193px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/found.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                The schooner crew's clothing and other personal items are among the things that can be found on a shipwreck. <br />
                <span style="font-size: 12px;">
                    Historical Collections of the Great Lakes, Bowling Green State University
                </span>
            </div>
        </div>

        <p>
            Wisconsin has a long and interesting maritime history. From 2,000 year-old canoes to giant bulk freighters, many types of "watercraft" have sailed upon Wisconsin waters. Have you ever wondered how we know all this information about the past? Much of it comes from historic documents, such as journals, newspapers, or letters written by people who actually lived at the time. But not enough written documents exist to tell us everything we want to know about the past. Shipwrecks are a great source for learning more about our maritime past, and underwater archaeologists find clues about our history in shipwrecks.
        </p>
        <p>
            Shipwrecks are time capsules. Their remains tell us what people did at a very specific time. If a ship sank in 1859, everything on board came from 1859 or earlier. The clothing, eating utensils, tools, navigational instruments, cargo, and personal items found on a shipwreck, and the ship itself, tell us the story of how people lived and worked at a certain time in the past.
        </p>

        <div style="float: left; width: 204px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/measure.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                Archaeologists record information about one of Wisconsin's seven hundred shipwrecks.
            </div>
        </div>

        <p>
            Underwater archaeologists can also interpret the sunken artifacts and tell us how the ships were built and why they sank.
        </p>
        <p>
            Once on the bottom of a lake or river, a shipwreck often remains protected by the water that hides it. Wisconsin's cold, fresh water preserves materials much better than if they were in salty ocean water. This explains why Great Lakes shipwrecks are considered some of the best in the world. A canoe in Kenosha survived for nearly 2,000 years before it was discovered! In some special cases, underwater archaeologists can find nearly everything that was aboard a ship when it sailed. But before exploring how archaeologists study shipwrecks, you'll learn some of the reasons why ships sank.
        </p>

        <p>
            <br /><br /><br /><br />
        </p>



        <div class="callout">
            <h2>Did you Know?</h2>
            <p>
                Twenty-two percent of Wisconsin is under water. Beneath the lakes and rivers lie not just shipwrecks, but thousands of other archaeological sites. Archaeologists have found the remains of fur trading posts, lumber mills, quarries, and other structures. They have also found objects such as ice harvesting tools and early Native American fishing gear. Underwater archaeologists study these artifacts to learn more about our past.
            </p>
        </div>
    </div>

</article>


