@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Info for Divers";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: right;  width: 197px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/niagara-paddlewheel-intact.jpg" /><br />
            <img src="~/Images/Learn/niagara-wheel-collapsed.jpg" style="margin-top: 15px;" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                Destroyed by looters, the Niagara's once magnificent paddlewheel now now lays collapsed on the lakebed.
            </div>
        </div>

        <p>
            The Wisconsin Historical Society is dedicated to preserving historic shipwrecks and facilitating responsible diver access to these unique, non-renewable cultural resources. Care must be taken by divers who visit these historically significant and often fragile sites to ensure that future generations of recreational divers, the general public, marine enthusiasts, historians and archaeologists have an opportunity to enjoy and learn from them. As divers, it is our collective responsibility to protect Wisconsin's unique submerged heritage. The cold, fresh water of the Great Lakes will continue to preserve many of Wisconsin's historically significant shipwrecks for generations to come. It is our own impact that we must consider carefully.
        </p>
        <p>
            Title to Wisconsin's historic shipwrecks is held in public trust by the State of Wisconsin. As steward of these fascinating historical, archaeological and recreational resources, the Wisconsin Historical Society encourages responsible diver visitation of these sites. Divers may not remove artifacts or structure when visiting any historic shipwreck or archeological site located on Wisconsin public lands, including the Great Lakes, inland lakes, and federal, state, county or municipally-owned waterways. Removing, defacing, displacing or destroying artifacts or sites is a crime, punishable with fines of up to $5,000. It could also result in the seizure of boats and all equipment used in commission of the crime (Wis. 44.47 and 29.05). Report shipwreck looting at (800) TIP-WDNR.
        </p>
    </div>

</article>

