@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Lighthouses and Lifesaving";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: left; width: 230px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/wis_lighthouses.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                Door County has more lighthouses than any other county in the United States, and the Apostle Islands National Lakeshore has more than any other National Park.
            </div>
        </div>

        <p>
            The U.S. Lighthouse and the U.S. Lifesaving Services (now combined as the U.S. Coast Guard) existed to protect ships and sailors on the Great Lakes. Lighthouses mark specific points of land, entrances to harbors, or dangerous shallow areas or rocks. At night, a bright revolving light atop the tower shows sailors where they are sailing. Today, nearly fifty lighthouses are found along Wisconsin's Great Lakes shoreline.
        </p>
        <p>
            Although lighthouses prevented many accidents, the government realized it needed to provide men and lifesaving equipment to help rescue sailors when shipwrecks did occur. The lifesaving stations had highly trained crews to watch for and rescue shipwrecked sailors. Lifesaving crews were very brave, made many daring rescues, and worked at great risk to their own personal safety. Today, the U.S. Coast Guard patrols the Great Lakes, ready to help in an emergency. Lighthouses still light up the night and continue to safely guide ships into port.
        </p>

        <p>
            <br /><br /><br /><br />
        </p>

    </div>

</article>
