@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Searching for Shipwrecks";
}



<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">
        
        <div style="float: left; margin: 7px 20px 10px 0;">
            <img src="~/Images/Learn/scuba_bucky.jpg" />
        </div>
        
        <p>
            Sometimes fishermen accidentally discover shipwrecks. Some recreational scuba divers search for undiscovered shipwrecks just to have more sites to explore. But how do underwater archaeologists discover shipwrecks? The search begins in the library, where archaeologists conduct historic research. This first step is the most important, since archaeologists often find clues about shipwrecks in the journals of sailors, the logs (a daily, sometimes hourly, account of events) of lighthouse keepers, maps, newspaper articles, and other records. These written records are only a few of the sources that archaeologists use in their search. Sometimes archaeologists are looking for a particular wreck. Other times they are trying to find all of the wrecks in an area. In the case of the Lucerne, its location was already known, although archaeologists used historic journals and newspaper accounts to find out how the wreck looked when the lighthouse keeper first discovered it.
        </p>

        <div style="float: right; width: 351px; margin-left: 20px; margin-top: 7px; margin-bottom: 20px;" class="caption">
            <img src="~/Images/Learn/MajorAnderson.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                If a shipwreck is shallow enough, an aerial survey is an efficient way to find it.
            </div>
        </div>

        <p>
            After completing library research, archaeologists look for shipwrecks in several ways, depending on the size of the search area and how deep and clear the water is. The simplest is a visual search, which works best in shallow water where it is easy to see the bottom. Visual searches can be done from an airplane, by looking over the side of a boat, or by divers (using scuba equipment and snorkels) swimming or being towed across an area by a boat.
        </p>

        

        <p>
            If the search area is large, in deep water, or in water with low visibility, electronic equipment can help locate shipwrecks. Archaeologists control this equipment from a boat. For example, an underwater metal detector, called a magnetometer, picks up signals from metal parts on a shipwreck. The magnetometer gives off a signal when it passes over a metal object and records these "targets" on a computer. Divers later return and investigate these "targets" to see if the metal object that set off the signal is actually part of a shipwreck.
        </p>
        
        <p>
            Another piece of equipment, called sonar, can detect shipwrecks by using sound waves that bounce off the lake or river bottom. These sound waves return a signal to the ship. A computer records these signals and produces an image of the bottom. Just as they do with the magnetometer, archaeologists identify "targets," and divers go under water to inspect the area.
        </p>

        <div class="callout">
            <h2>Have a Listen</h2>
            <p>
                <a href="http://av.aqua.wisc.edu/seagrantandlakesuperior/audio/mp3/3ShipwrecksArcheologistsandUnholyApostles.mp3">Shipwrecks, Archeologists and Unholy Apostles</a>  (19 mins 48 sec)<br />
                The uniquely preserved shipwrecks of Lake Superior have become a historical resource for the state, as well as a recreational magnet for sport divers. Hear the chilling tale of the sinking of the Lucerne, and listen while underwater archeologists Tamara Thomsen and Keith Meverden share their passion for this fascinating field, explain its scientific and historical significance, and solve the mystery of the Lucerne's final hours.
            </p>
        </div>


    </div>


    

</article>
