@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Shipwreck Conservation";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: right;  width: 200px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/PowderCask.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                A Dixon & Sons brass and copper powder flask circa 1870 undergoing conservation.
            </div>
        </div>

        <p>
            Conservation is a scientifically designed strategy to preserve waterlogged artifacts from loss, injury, decay, or waste. Using established procedures, an artifact is initially preserved by controlling the surrounding environment to minimize decay. While in the field, this means keeping the artifact wet. Back at the lab, conservation procedures additionally restore and dehydrate water-soaked artifacts in a controlled environment, stabilizing them against further deterioration.
        </p>
        <p>
            Artifacts found on a shipwreck site can be made from a wide range of materials. Wood and iron are common, although pottery, glass, textiles, leather, bone, copper, and brass artifacts may be found as well. Each of these materials requires special consideration and different conservation techniques.
        </p>
        <p>
            Conservation is an expensive, time consuming process. Moreover, conserved artifacts must be stored or displayed in a controlled environment that will ensure their long-term preservation, thus guaranteeing that they will be available for public viewing and further research.
        </p>

        <p>
            <br /><br /><br /><br /><br /><br />
        </p>

        <div class="callout">
            <h2>Have a Listen</h2>
            <p>
                <a href="http://av.aqua.wisc.edu/seagrantandlakesuperior/audio/mp3/3ShipwrecksArcheologistsandUnholyApostles.mp3">Shipwrecks, Archeologists and Unholy Apostles</a>  (19 mins 48 sec)<br />
                The uniquely preserved shipwrecks of Lake Superior have become a historical resource for the state, as well as a recreational magnet for sport divers. Hear the chilling tale of the sinking of the Lucerne, and listen while underwater archeologists Tamara Thomsen and Keith Meverden share their passion for this fascinating field, explain its scientific and historical significance, and solve the mystery of the Lucerne's final hours.
            </p>
        </div>

    </div>

</article>


