@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Shipwrecks, Shipwrecks Everywhere!";
}



<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: right;  width: 234px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/boat_skeletons.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                Sturgeon Bay is a boneyard for vessels that carried limestone. At Bull Head Point, the skeletons of three shipwrecks can be seen sticking out of the water.
            </div>
        </div>

        <p>
            There are over seven hundred shipwrecks in Wisconsin.  But why did so many sink?  First of all, we need to remember that thousands of ships sailed in and out of Wisconsin's ports. Some older, rundown ships were abandoned in shallow water or intentionally set on fire. Other ships had more exciting endings.
        </p>

        <div style="float: left; width: 169px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/deathsdoor.gif" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                Some believe that Death's Door got its name after a large Indian war party was destroyed there in a sudden storm. Early French and American travelers heard and repeated the story about "a hundred Indians dashed against these rocks and killed in a single storm." Some think that French fur traders spread this story to keep others from coming to the area. In fact, the name Death's Door comes from the French name "Porte des Morts". Due to its strong currents, fierce winds, and rocky shores, Death's Door is definitely known as a killer of ships. These conditions have been hazardous for all ships, but especially for sailing vessels. Lighthouses built on Plum Island (1848 and 1896) and Pilot Island (1850) helped, but hundreds of vessels have been lost or damaged in the Death's Door area.
            </div>
        </div>

        <p>
            Ships sank for just about every reason you can imagine. Thick fog caused low visibility and ships could run aground or into each other. Captains made mistakes in navigation that caused their ships to sink. Underwater obstacles sank many ships on the Mississippi River and other rivers. Some ships were old and leaky, while others had problems with their engines that caused explosions. But of the many reasons a ship could sink, probably the most terrifying was fire.
        </p>

        <p>
            In September 1856, the steam-powered ship <a href="~/Vessel/Details/455?region=Index">Niagara</a> left Sheboygan carrying passengers and cargo for port washington. not long after leaving the dock, fire broke out. the engines soon quit, bringing the vessel's giant paddlewheels to a halt.  Like many other boats of the day, the <a href="~/Vessel/Details/455?region=Index">Niagara</a> carried no life preservers.  The crew began breaking off cabin doors and throwing them, and other buoyant items, into the water.  As smoke and flames engulfed the boat five miles offshore, passengers panicked, causing one of wisconsin's deadliest transportation disasters.  Despite rescue efforts, over sixty people died.</p>
        <p>
            The phrase "gales of November" is often used to describe the fierce storms that hit the Great Lakes in the late fall. Heavy winds, blinding snowstorms, huge waves, and cold temperatures make October and November the most dangerous time of year for sailors on the Great Lakes. Shipping lanes close during the winter months and don't reopen until spring.
        </p>

        <div style="float: right;  width: 191px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/pilot_island.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                The Gilmore, Nichols, and Forest wrecked at Pilot Island. This unique photograph reveals the dangers of passing through Death's Door. <br />
                <span style="font-size: 12px;">
                    Great Lakes Marine Collection, Milwaukee Public Library/Wisconsin Marine Historical Society
                </span>
            </div>
        </div>

        <p>
            One cold October night in 1891, the schooner <a href="~/Vessel/Details/211?region=Index">Forest</a> entered Death's Door passage at the tip of the Door Peninsula. A gale struck and drove the ship onto the reef at Pilot Island. The next day, the crew rowed to shore and the safety of the lighthouse.
        </p>
        <p>
            The following fall, two more schooners &mdash; the <a href="~/Vessel/Details/300?region=Index">J.E. Gilmore</a> and the <a href="~/Vessel/Details/2?region=Index">A.P. Nichols</a> &mdash; wrecked at the same spot less than two weeks apart. On October 17, the <a href="~/Vessel/Details/300?region=Index">Gilmore</a> entered the passage in heavy, shifting winds and was blown onto the reef. The crew waited out the storm on board. On October 28, fierce winds and blinding snow struck the <a href="~/Vessel/Details/2?region=Index">Nichols</a>, tore apart her rigging, and drove her onto the rocks near the shipwrecked <a href="~/Vessel/Details/300?region=Index">Gilmore</a> and the <a href="~/Vessel/Details/211?region=Index">Forest</a>. In a dangerous rescue, the lighthouse crew helped the sailors leap from the rolling <a href="~/Vessel/Details/2?region=Index">Nichols</a> onto the icy deck of the wrecked <a href="~/Vessel/Details/211?region=Index">Forest</a> in order to reach Pilot Island. Because of the bravery of the lifesaving crew, not one person was lost in all three wrecks!
        </p>

        <p>
            <br /><br /><br />
        </p>
    </div>

</article>

