@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "Working Underwater";
}


<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer-orange"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: right;  width: 200px; margin: 7px 10px 10px 20px;" class="caption">
            <img src="~/Images/Learn/diver-dry-suit.jpg" /><br />
            <div style="font-style: italic; margin-top: 15px;">
                A diver wearing a dry suit.
            </div>
        </div>

        <p>
            Different geographic areas offer certain advantages and challenges for underwater archaeologists, and the Great Lakes are no exception. The lakes' cold, fresh water offer unparalleled site preservation, often preserving entire ships and their contents intact. Conversely, the Great Lakes' cold temperatures  offer a formidable challenge to archaeologists. In addition to the "normal" challenges of working underwater, doing underwater archaeology in Wisconsin requires special equipment, such as dry suits, heavy gloves, and a hood.
        </p>
        <p>
            Underwater archaeologists spend many hours beneath the surface studying and documenting a single shipwreck. Other than the limitations imposed by breathing a fixed amount of air (80 cubic feet in a standard scuba tank), the single greatest problem for divers is combating the cold. Even in water that is 80 degrees, a diver will eventually get cold, because his or her body (at 98 degrees) will constantly lose heat to the colder water. In the Great Lakes, underwater archaeologists usually work in water that is between 40 and 60 degrees.
        </p>

        <div style="float: left; width: 161px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/kid-in-aga-mask.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                A future diver tries on a full-face mask, which will allows divers to communicate electronically underwater.
            </div>
        </div>

        <p>
            These frigid temperatures make a dry suit a necessity for prolonged diving in the Great Lakes. Different than a wetsuit, which allows a thin layer of water between the diver's skin and the suit, a dry suit keeps a diver completely dry. Tight seals around the diver's neck and wrists keep water out and also allow the diver to inflate the suit. The air inside the suit helps the diver maintain buoyancy and offers insulation. The major advantage of a dry suit is that the diver is dry and can wear very warm clothes
            beneath the suit.
        </p>

        <p>
            The physiology of breathing air under pressure also limits the time divers can stay underwater. The air we breath everyday is comprised of 21 percent oxygen and 79 percent nitrogen, and a diver must know how both of these gases will affect him or her while diving. Depth (and therefore pressure) and dive time will influence the properties of oxygen and nitrogen and must be monitored closely by the diver. A build up of nitrogen in the bloodstream can be a potential hazard, and even oxygen can become toxic at a certain depth.
        </p>

        <p>
            Communication also poses a challenge for underwater archaeologists. Divers cannot talk to one another underwater, making careful planning essential before each dive. Underwater archaeologists often use a pre-determined set of hand signals to facilitate working together underwater. Specialized communication equipment can also be used, but that introduces more links in the chain of equipment, planning, and execution - more links that can break.
        </p>
        <p>
            Limited visibility is another problem. Due to variable water clarity, sometimes divers can see only a few feet, making sketching, note taking, and other documentation difficult. Photography and videography are also difficult in low visibility conditions. Due to limited visibility and the large size of most shipwrecks, it is rarely possible to view an entire wreck at once. Generally, only small segments can be seen at a time. Consequently, archaeologists produce detailed drawings of the wreck, called site maps. Pieced together section by section, site maps allow archaeologists to "see" the entire wreck for the first time and to determine how individual features fit together.
        </p>


        <div class="callout">
            <h2>Have a Listen</h2>
            <p>
                <a href="http://av.aqua.wisc.edu/seagrantandlakesuperior/audio/mp3/3ShipwrecksArcheologistsandUnholyApostles.mp3">Shipwrecks, Archeologists and Unholy Apostles</a>  (19 mins 48 sec)<br />
                The uniquely preserved shipwrecks of Lake Superior have become a historical resource for the state, as well as a recreational magnet for sport divers. Hear the chilling tale of the sinking of the Lucerne, and listen while underwater archeologists Tamara Thomsen and Keith Meverden share their passion for this fascinating field, explain its scientific and historical significance, and solve the mystery of the Lucerne's final hours.
            </p>
            <br />
            <h2>Learn More</h2>
            <p>
                <a href="http://seagrant.wisc.edu/madisonjason11/tools_gear.html">Learn more about the history of diving and the latest technology</a>
                <br />
                <a href="http://www.seagrant.wisc.edu/madisonjason11/diving_signals.html">Learn about the hand signals divers use underwater</a>
            </p>
        </div>


    </div>

</article>


