@model WIShipwrecks.Models.BodiesOfWater

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete this Body Of Water?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BodyOfWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyOfWater)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />&nbsp;|&nbsp;@Html.ActionLink("Cancel", "Index")
        </div>
    }
</div>
