@model WIShipwrecks.Models.Feedback

@{
    Layout = "~/Views/Shared/_Topic.cshtml";
    ViewBag.Title = "SS Edmund Fitzgerald";
}

<article class="content">

    <div class="title one">@ViewBag.Title</div>
    <div class="spacer"></div>
    <br /><br />

    <div class="content full" style="max-width: 800px;">

        <div style="float: left; width: 230px; margin: 7px 20px 10px 0;" class="caption">
            <img src="~/Images/Learn/Fitzgerald-in-the-Milwaukee-River.jpg" /> <br />
            <div style="font-style: italic; margin-top: 15px;">
                SS Edmund Fitzgerald tied up in the Milwaukee River
            </div>
        </div>

        <p>
            Why isn't the SS Edmund Fitzgerald on this website? That's an excellent question. This vessel sank in Lake Superior, making it a Great Lakes shipwreck. Although a Great Lakes shipwreck, the vessel sank in Canadian waters, making it a Canadian shipwreck and not a Wisconsin shipwreck.  The Edmund Fitzgerald,  however, did have Wisconsin connections.
        </p>
        <p>
            The Edmund Fitzgerald was constructed in 1958 as a business enterprise of the Northwestern Mutual Life Insurance Company of Milwaukee, and the vessel retained a homeport of Milwaukee. She was named for the newly elected board chairman of Northwestern Mutual Life Insurance, Edmund Fitzgerald. The Fitzgerald family has a long and intimate connection to Wisconsin and shipping in the Great Lakes. In 1836, the Fitzgerald family immigrated from Ireland to the Great Lakes region. All six Fitzgerald brothers quickly became well known captains of Great Lakes sailing vessels and made a name for themselves in the shipping industry. Settling in Wisconsin, several of the Fitzgerald brothers became heavily involved with the shipbuilding industry of the state, starting multiple shipbuilding companies, including the Milwaukee Shipbuilding Company. Edmund Fitzgerald, the vessel's namesake, was the grandson of John Fitzgerald, one of the original six brothers, a fitting commemoration to the Fitzgerald family's ties to the maritime industries in Wisconsin.
        </p>
        <p>
            If you would like to know more about the Fitzgerald family, the Wisconsin Marine Historical Society has published a book featuring the history of the Fitzgerald family, their ties to Wisconsin shipping and shipbuilding, and their vessel namesakes, "Six Fitzgerald Brothers: Lake Captains All" by Elizabeth F. Cutler and Walter M. Hirthe.
        </p>
        <p>
            Additionally, it's important to remember that of the twenty-nine men lost aboard the ore boat on that fateful night of November 10, 1975, eight were residents of Wisconsin.
        </p>
        <p>
            More information about the SS Edmund Fitzgerald can be found at the <a href="http://www.mhsd.org/fleet/O/ON-columbia/fitz/default.htm">Marine Historical Society of Detroit</a>.
        </p>

        <p>
            <br /><br /><br /><br />
        </p>

    </div>

</article>
